/*LM-Y120K height : 107.9mm, width : 55mm*/
body {
  background-color : black;
  color : white;
}

div.url {
  width : 300px;
  height: 60px;
  background-color:gray;
}

a {
  text-align : center;
}
