/*LM-Y120K height : 107.9mm, width : 55mm*/
body {
  background-color : black;
  color : white;
}

p {
  margin:10px;
}

div.url {
  width : 300px;
  height: 60px;
}

a {
  text-align : center;
}
a.black:link {
  color:black;
  text-decoration:none;
}
a.black:visited {
  color:black;
  text-decoration:none;
}
a.black:hover {
  color:gray;
}
